In [ ]:
#리스트, 튜플, 문자열 기초

In [26]:
#리스트는 데이터를 순서대로 저장하고 수정할 수 있는 자료구조. ->[]
mylist=[1,2,3,4,5]
mylist.append(6)
print(mylist)
#mylist.remove(7)에러 조재안하는 걸 지우라고 하니까.
mylist.remove(4)
mylist[0]=10
print(mylist)
print(mylist[0])
print(len(mylist))

[1, 2, 3, 4, 5, 6]
[10, 2, 3, 5, 6]
10
5

In [34]:
#튜플은 리스트와 비슷하지만, 수정할 수 없는 자료구조 ->()
mytuple=(1,2,3,4,5)
print(mytuple[0])
print(len(mytuple))

#mytuple[0] = 10, mytuple.append(10) 수정, 추가는 불능

1
5

In [81]:
#문자열은 문자들의 시퀀스로, 다양한 메서드를 제공
mystring=" hello World"
print(len(mystring))# 공백포함
print(mystring.upper())
print(mystring.lower())
print(mystring.strip('d')) #끝단의 공백만 지우기&괄호내부에 튻정 문자을 지정하면 끝부분에서 그놈을 조짐(단,공백없을경우)
#SQL의 trim이랑 같은늠
print(mystring[0:4])#0<=X<4
print(mystring.replace("World","python"))
#print(mystring.replace("World"))SQL이랑 다르게 이놈은 제거는 불가

12
 HELLO WORLD
 hello world
 hello Worl
 hel
 hello python

In [105]:
#실습
#리스트 다루기
list=[]
while True:
    try:
        for i in range(1,6):
            num=int(input())
            list.append(num)
            print(list)
        break
    except ValueError:
        print("다시")

RElist=[]
print(min(list))
RElist.append(min(list))
print(max(list))
RElist.append(max(list))
RElist

 2354

[2354]

 235

[2354, 235]

 2134

[2354, 235, 2134]

 464

[2354, 235, 2134, 464]

 56453

[2354, 235, 2134, 464, 56453]
235
56453

[235, 56453]

In [163]:
a="12345"
a.reverce()

AttributeError: 'str' object has no attribute 'reverce'

In [22]:
#튜플 활용
tuple=()
#print(tuple[:])
i=0
while(i<=10):
    if(i%2!=0):
        tuple=tuple+(i,)
        #print(tuple)
    i+=1

print(tuple)

for i in range(1,11):
    if(i%2!=0):
        tuple+=(i,)

print(tuple)

(1, 3, 5, 7, 9)
(1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [30]:
#문자열 다루기 jupyter는 커널 리스타트해야 됨
try:
    string=str(input("문자열"))
    reverse=''
    for i in string:
        reverse=i+reverse
    z=string.replace(' ','')
except ValueError:
    print("다시")

print(string[::-1])

print(len(string))
print(reverse)
print(z)

문자열  dsfgikjhfes klsdfjse klsdjf lklkj l;kdfjgkl s/lkfnejlhfn ldgl lkdfj g lkslk kl;s ojsfdl kh lkhf e

e fhkl hk ldfsjo s;lk klskl g jfdkl lgdl nfhljenfkl/s lkgjfdk;l jklkl fjdslk esjfdslk sefhjkigfsd
98
e fhkl hk ldfsjo s;lk klskl g jfdkl lgdl nfhljenfkl/s lkgjfdk;l jklkl fjdslk esjfdslk sefhjkigfsd
dsfgikjhfesklsdfjseklsdjflklkjl;kdfjgkls/lkfnejlhfnldgllkdfjglkslkkl;sojsfdlkhlkhfe

In [4]:
string=str(input("문자열"))
string.replace(' ','')

문자열 asdljnas aslidj asldij qwerl;ij qwprjfsda

'asdljnasaslidjasldijqwerl;ijqwprjfsda'

In [20]:
#리스트에 저장된 숫자들의 평균을 구하는 프로그램을 작성하세요.
#사용자로부터 입력받은 문자열에서 모음(aeiou)만 추출하여 출력하세요.

list=[1,2,3]
a=len(list)
q=sum(list)
#z=0
#for i in range(a):
#    z=+list[i]
    
print(q/a)

2.0

In [75]:
a=str(input("문자"))
b=''
a=a.lower()
for i in a:
    if i in ['b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','u','v','w','x','y','z']:
        continue
    b=b+i
    print(b)
print(b)

b=''
for i in a:
    vowels='aeiou'
    if i not in vowels:
        continue
    b=b+i
print(b)

문자 eakfae;afm;aslfgna;ea;ed

e
ea
eaa
eaae
eaae;
eaae;a
eaae;a;
eaae;a;a
eaae;a;aa
eaae;a;aa;
eaae;a;aa;e
eaae;a;aa;ea
eaae;a;aa;ea;
eaae;a;aa;ea;e
eaae;a;aa;ea;e
eaaeaaaeae

In [22]:
#listUPGRADE_MODE
llist=[1,2,3,4,5,5,6]
llist.sort()
p=llist[0]
llist.reverse()
l=llist[0]
print(f"최저:{p}, 최대{l}")


arr = [6, 5, 6, 4, 4, 1, 1, 2, 3, 9, 8, 7, 9, 8, 7]
result1 = set(arr)
print(f"set(arr): {result1}")

result2 = list(result1)  # list(set(arr))
print(f"list(set(arr) : {result2}")

최저:1, 최대6

In [36]:
arr = [6, 5, 6, 4, 4, 1, 1, 2, 3, 9, 8, 7, 9, 8, 7]
result1 = set(arr)
print(f"set(arr): {result1}")

result2 = list(result1)  # list(set(arr))
print(f"list(set(arr) : {result2}")

set(arr): {1, 2, 3, 4, 5, 6, 7, 8, 9}

TypeError: 'list' object is not callable

In [81]:
names=[]
total_age=0
i=0
while True:
    try:
        name=str(input("name"))
        if(name=="end"):
            print(total_age/i)
            print(tuple(names))
            break
        age=int(input("age"))
        
        print(f"{name}&{age}")
        i+=1
        print(i)
        names.append(name)
        total_age+=age
        print (total_age)

    except ValueError:
        print("다시")

name qwe
age 1

qwe&1
1
1

name ew
age 2

ew&2
2
3

name ewr
age 3

ewr&3
3
6

name end

2.0
('qwe', 'ew', 'ewr')

In [85]:
try:
    st=str(input("입력"))
    z=st.capitalize()
    zz=st.title()
    zzz=' '.join()
    print(z)
    print(zz)

except ValueError:
    print("다시")

입력 asd ewrt

Asd ewrt
Asd Ewrt

#5일차(함수)

'''
def 함수이름(매개변수):

    # 함수 내용
    
    return 반환값

def: 함수를 정의하는 키워드.
함수이름: 함수 호출 시 사용하는 이름.
매개변수: 함수에 입력으로 전달되는 변수(선택적).
return: 함수의 결과값을 반환(선택적).
'''

In [96]:
def add(a,b):
    return(a+b)

result=add("a","v")
print(result)
result=add(1,2)
print(result)

av
3

In [100]:
def greet():
    print("hello world")

greet()  #그냥 쓰면 지가 알아서 작동하는 놈

hello world

In [108]:
def greet(name="guest"):
    print(f"hello {name}")

greet()  # 이거만 쓰면 기본값인 guest가 들어가는 형태로 작동
greet("asd") #이렇게 쓰면 괄호속에 조재하는 문자열을 포함해서 출력

hello guest
hello asd

In [116]:
def square(x):
    return x*x

print(square(4))

16

In [214]:
#실습 문제
#문제 1:
#두 개의 숫자를 입력받아 덧셈 결과를 반환하는 함수를 작성하세요.
def add(a,b):
    return (a+b)

a=int(input("입력"))
b=int(input("입력"))

print(add(a,b))

입력 1
입력 2

3

In [216]:
def add(*args):
    return sum(args)

print(add(1, 2))        # 3
print(add(1, 2, 3, 4))  # 10

TypeError: 'int' object is not callable

In [226]:
#문제 2:
#리스트를 입력받아 그 합계를 반환하는 함수를 작성하세요.
def listsum(List):
    sum=0
    i=0
#
    while (i<len(List)):
        sum=+sum+a[i]
        print(i)
        print("===========")
        print(f"{sum}+{a[i]}")
        i+=1
    return sum

a=[1,2,3,4,5,6,7,8,9,10]

print(listsum(a))

0
===========
1+1
1
===========
3+2
2
===========
6+3
3
===========
10+4
4
===========
15+5
5
===========
21+6
6
===========
28+7
7
===========
36+8
8
===========
45+9
9
===========
55+10
55

In [232]:
def listsum(*List):
    List = List[0]
    total = 0
    for i, num in enumerate(List):  #반복문을 사용할 때, 인덱스와 해당 값을 동시에 가져올 수 있는 내장 함수
        total += num
        print(f"{i}-번째 요소: {num}, 현재 합계: {total}")
    return total

listsum(a)

0-번째 요소: 1, 현재 합계: 1
1-번째 요소: 2, 현재 합계: 3
2-번째 요소: 3, 현재 합계: 6
3-번째 요소: 4, 현재 합계: 10
4-번째 요소: 5, 현재 합계: 15
5-번째 요소: 6, 현재 합계: 21
6-번째 요소: 7, 현재 합계: 28
7-번째 요소: 8, 현재 합계: 36
8-번째 요소: 9, 현재 합계: 45
9-번째 요소: 10, 현재 합계: 55

55

In [264]:
#문제 3:
#문자열을 입력받아, 해당 문자열이 회문(앞뒤가 같은 단어)인지 판별하는 함수를 작성하세요.
a="asddsal"
def OX(text):
    return a[0]==a[-1]

OX(a)

False

In [268]:
def is_palindrome(text):
    return text == text[::-1]  # 문자열을 뒤집어서 원본과 비교

print(is_palindrome("radar"))  # True

print(is_palindrome("hello"))  # False

True
False

In [266]:
def is_palindrome(text):
    clean_text = text.replace(" ", "").lower()
    return clean_text == clean_text[::-1]

print(is_palindrome("A man a plan a canal Panama"))  # True
print(is_palindrome("Hello World"))  # False

True
False

In [204]:
#문제 4:
#정수를 입력받아, 해당 정수가 짝수인지 홀수인지 판별하는 함수를 작성하세요.
def OE(num):
    return num%2==0
num=int(input("입력"))
OE(num)

입력 2

True

In [286]:
nums = list(map(int, input("숫자들을 입력하세요 (공백으로 구분): ").split()))
for num in nums:
    if OE(num):
        print(f"{num}은 짝수입니다.")
    else:
        print(f"{num}은 홀수입니다.")

숫자들을 입력하세요 (공백으로 구분):  123

TypeError: 'list' object is not callable

In [317]:
# 보나피치
def VONA(n):
    return VONA(n-1)+VONA(n-2) if n>=2 else n
        
try:
    n=int(input("num"))
    i=0
    while(i<n):
        print(VONA(n))
        i+=1

except ValueError:
    print(asdlkjn)

num 4

3
3
3
3

In [378]:
from functools import lru_cache

@lru_cache(maxsize=None)
def VONA(n):
    return VONA(n-1)+VONA(n-2) if n>=2 else n

try:
    n=int(input("num"))
    if(n<0):
        print("양수만")
    else:
        print("피보나치 수열:")
        for i in range(n):
            print(VONA(i),end=" ")

except ValueError:
    print("숫자를 입력해야 합니다.")

num 6

피보나치 수열:
0 1 1 2 3 5

In [401]:
def MAXLAN(LISTS):
    max=0
    long=""
    for i in range(len(LISTS)):
        z=len(LISTS[i])
        if(max<z):
            max=len(LISTS[i])
            long=LISTS[i]
            
    print(f"long={long}, max={max}")
            


LISTS=["1","eeee","qq","www"]

MAXLAN(LISTS)

long=eeee, max=4

In [435]:
def MAXLAN(LISTS):
    max=0
    long=[]
    for i in LISTS:
        z=len(i)
        if(max<z):
            max=z
            long=[i]
        elif(max==z):
            long.append(i)
    return long, max        
    print(f"long={long}, max={max}")
            


LISTS=["1","eeee","aaaa","qq","www"]

MAXLAN(LISTS)

(['eeee', 'aaaa'], 4)